@-moz-document domain("web.whatsapp.com") {
    /* sidebar */
    .infinite-list-viewport .infinite-list-item, .chatlist .chat {
        height: 50px !important;
    }

    #side {
        width: 30%;
    }

    #main {
        width: 70%;
    }

    .chatlist .avatar {
        height: 32px;
        width: 32px;
    }

    .chat-body .chat-main {

    }

    .chat-body .chat-secondary {
        display: none;
    }

    /* message area */

    .tail.message-in::before, .tail.message-out::before {
        display: none;
    }

    .message-text, .document-body {
        font-size: 12px;
        line-height: 10px;
    }
    .message-out {
        float: left;
    }

    .context-out, .context-in {
        height: 17px;
    }

    .context-icon {
        height: 15px;
    }
}
